body {
  text-align: center;
  font: 85%/1.4em arial;
}

div, input, textarea {
  box-sizing: border-box;
}

.container {
  width: 700px;
  margin: 0 auto;
}

#output {
  float: left;
  border: 1px solid #bbb;
}

.sq {
  width: 64px;
  height: 64px;
  background: #eee;
  float: left;
  position: relative;
}
.sq.occupied {
  background: #333;
}
.sq:hover {
  background: #fff;
}
.sq.occupied:hover {
  background: #880000;
}

.sq.blue {
  background: #000088;
}
.sq.red {
  background: #990000;
}

.sq span {
  position: absolute;
  color: #fff;
  font-family: arial;
  padding: 0.1em;
}

.half {
  width: 50%;
  float: left;
}

.third {
  width: 33.33%;
  float: left;
}

.top {
  top: 0;
  left: 28px;
}
.right {
  right: 0;
  top: 22px;
}
.bottom {
  bottom: 0;
  left: 28px;
}
.left {
  left: 0;
  top: 22px;
}

.node {
  width: 50%;
  padding: 1em;
  float: left;
  text-align: center;
}

.sq .ident {
  width: 50%;
  text-align: center;
  margin-top: 20px;
  margin-left: 15px;
  background: #222;
  font-size: 0.6em;
  border: 1px solid #fff;
}

p {
  float: left;
  width: 100%;
}

fieldset {
  padding: 1em;
  border: 2px solid #ccc;
}

legend {
  font-weight: bold;
  color: #555;
}

input, textarea {
  width: 100%;
  padding: 1em;
  font-size: 1em;
  margin-bottom: 1em;
  font-family: arial;
}

textarea {
  min-height: 10em;
}

button {
  padding: 1em;
  color: #fff;
  background: #333;
  clear: both;
  border: 0;
  cursor: pointer;
}
button:hover {
  background: #ccc;
  color: #333;
}

form { width: 100%; float: left; text-align: left; margin: 1em 0 3em;}